.page,
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stop-scroll {
  overflow: hidden;
}

.page {
  margin: 0 auto;
  min-inline-size: 320px;
  max-inline-size: 1440px;
  min-block-size: 100dvb;
  background-size: 100% 667px;
  background-repeat: no-repeat;
}

.header {
  margin-block-start: 100px;
  inline-size: 100%;
  font-family: "Press Start 2P", Arial, sans-serif;
  font-weight: 400;

  &__logo {
    margin-block-start: 120px;
    font-size: 49px;
    line-height: 49px;
  }

  &__title {
    margin-block-start: 20px;
    font-size: 14px;
  }
}

.theme-menu {
  margin: 25px auto;

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
    left: 10px;
  }

  &__item {
    margin: 0;
    padding: 0;
    margin-left: 19px;
  }

  &__button {
    position: relative;
    background-color: transparent;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    border: none;
    text-transform: uppercase;
    margin: 0;
    padding: 0;

    &::after {
      content: "";
      position: absolute;
      inline-size: 100%;
      block-size: 2px;
      background-color: currentcolor;
      bottom: -3px;
      left: 0;
      transform-origin: left;
      transform: scaleX(0);
      transition: transform 0.3s ease;
    }

    &:focus {
      outline: none;
    }

    &:focus-visible {
      opacity: 0.6;
      transition: opacity 0.3s ease;
    }

    &:focus-visible::after {
      transform: scaleX(1);
      transform-origin: left;
      transition: transform 0.3s ease;
    }

    &:hover {
      opacity: 0.6;
      transition: opacity 0.3s ease;
      cursor: pointer;
    }

    &:disabled {
      opacity: 1;
      pointer-events: none;
    }

    &:disabled::before {
      content: "▶";
      position: absolute;
      left: -20px;
      animation-name: pointer;
      animation-duration: 0.5s;
      animation-iteration-count: infinite;
      animation-direction: alternate-reverse;
      animation-timing-function: ease-in-out;
    }
  }
}

.content {
  inline-size: 100%;
  display: flex;
  gap: 50px;
  flex-direction: column;
  align-items: center;
  font-family: Inter, Arial, sans-serif;
  margin-block-start: 100px;
}

.card {
  inline-size: 100%;

  &__title {
    font-size: 18px;
    line-height: 22px;
    padding: 4px 10px 6px;
  }

  &__image {
    inline-size: 100%;
    position: relative;
  }

  .grayscale {
    filter: grayscale(80%);
  }

  .saturate {
    filter: saturate(350%);
  }

  .hue-rotate {
    filter: hue-rotate(0.3turn);
  }

  .invert {
    filter: invert(1);
  }

  .sepia {
    filter: sepia(60%);
  }

  .blur {
    filter: blur(3px);
  }

  .multilpe {
    filter: brightness(200%) sepia(60%) hue-rotate(0.5turn);
  }

  .wrapper {
    position: relative;
    inline-size: 100%;
  }

  &__label {
    font-family: "Press Start 2P", Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    mix-blend-mode: hard-light;
    opacity: 0.5;
    position: absolute;
    top: 25px;
    right: 13px;
    z-index: 1;
  }

  &__paragraph {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    padding-inline: 25px 26px;
    padding-block-start: 25px;
  }

  &__paragraph + &__paragraph {
    padding-block: 27px 25px;
  }

  &__button-section {
    inline-size: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
    padding-inline-end: 25px;
    padding-block-end: 25px;
  }

  &__icon-button {
    background-color: transparent;
    inline-size: 39px;
    block-size: 36px;
    border: none;
    outline: 2px solid transparent;

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: 2px solid currentcolor;
      outline-offset: -1px;
      transition: outline 0.3s ease;
    }
  }

  .like-icon {
    inline-size: 100%;
  }

  .sparks {
    opacity: 0;
  }

  .like-icon.is-liked {
    .heart {
      animation-name: heart-scale;
      animation-duration: 0.3s;
      animation-iteration-count: 1;
      animation-direction: normal;
      animation-timing-function: ease-in;
      animation-delay: 0.1s;
    }

    .sparks {
      animation-name: heart-sparks;
      animation-duration: 0.3s;
      animation-iteration-count: 1;
      animation-direction: alternate;
      animation-timing-function: ease-in;
      animation-delay: 0.3s;
    }
  }

  &__like-button {
    position: relative;
    inline-size: 130px;
    block-size: 38px;
    background-color: transparent;
    text-align: center;

    &::before {
      content: "";
      position: absolute;
      background-color: currentcolor;
      opacity: 0;
      inline-size: 100%;
      block-size: 100%;
      top: 0;
      left: 0;
      transform: scaleX(0);
      transform-origin: left;
      mix-blend-mode: difference;
      transition:
        transform 0.5s ease-in-out,
        opacity 1s ease-in-out;
    }

    &:hover::before {
      mix-blend-mode: difference;
      opacity: 1;
      transform: scaleX(1);
      transform-origin: left;
      transition:
        transform 0.5s ease-in-out,
        opacity 0.5s ease-in-out;
    }

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }

    &:focus-visible {
      box-shadow: 2px 2px currentcolor;
      transition: box-shadow 0.3s ease;
    }
  }

  .button-text {
    font-family: "Press Start 2P", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
  }
}

.footer {
  margin-block: 50px 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;

  &__button {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    background-color: transparent;

    &::before {
      content: "";
      position: absolute;
      background-color: currentcolor;
      inline-size: 100%;
      block-size: 100%;
      top: 0;
      left: 0;
      transform: scaleX(0);
      transform-origin: left;
      mix-blend-mode: difference;
      opacity: 0;
      transition:
        transform 0.5s ease-in-out,
        opacity 1s ease-in-out;
    }

    &:hover::before {
      transform: scaleX(1);
      opacity: 1;
      transform-origin: left;
      transition:
        transform 0.5s ease-in-out,
        opacity 0.5s ease-in-out;
    }

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }

    &:focus-visible {
      box-shadow: 2px 2px currentcolor;
      transition: box-shadow 0.3s ease;
    }
  }

  .button-icon {
    inline-size: 28px;
    block-size: 28px;
    margin-block-start: 15px;
  }

  .button-text {
    margin-block-end: 15px;
    margin-inline: 20px 20px;
    font-family: "Press Start 2P", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
  }
}

.dialog {
  padding: 0;
  max-width: clamp(341px, 327px + 3.6923vw, 353px);
  border: none;

  &::backdrop {
    background: #000;
    opacity: 0.75;
  }

  .popup {
    display: grid;
    grid-template-columns: min-content minmax(198px, max-content);
    gap: 30px 20px;
    font-family: "Press Start 2P", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 30px 42px;
    margin: 0;

    &__icon {
      inline-size: 39px;
      block-size: 39px;
      grid-column-start: 1;
      align-self: center;
    }

    &__text {
      grid-column-start: 2;
      text-transform: uppercase;
      line-height: 150%;
    }

    &__button {
      position: relative;
      min-block-size: 38px;
      background-color: transparent;
      grid-column-start: span 2;

      &::before {
        content: "";
        position: absolute;
        inline-size: 100%;
        block-size: 100%;
        top: 0;
        left: 0;
        transform: scaleX(0);
        transform-origin: left;
        mix-blend-mode: difference;
        opacity: 0;
        transition:
          transform 0.5s ease-in-out,
          opacity 1s ease-in-out;
      }

      &:hover::before {
        transform: scaleX(1);
        opacity: 1;
        transform-origin: left;
        transition:
          transform 0.5s ease-in-out,
          opacity 0.5s ease-in-out;
      }

      &:hover {
        cursor: pointer;
      }

      &:focus {
        outline: none;
      }

      &:focus-visible {
        box-shadow: 2px 2px currentcolor;
        transition: box-shadow 0.3s ease;
      }
    }
  }
}

@media (width >= 700px) {
  .header {
    inline-size: 700px;

    &__logo {
      font-size: 65px;
      line-height: 65px;

      &__title {
        font-size: 23px;
        line-height: 23px;
      }
    }
  }

  .content {
    inline-size: 700px;
  }

  .card {
    &__title {
      padding: 3px 24px 3px 10px;
      text-align: left;
    }

    &__label {
      right: 25px;
    }
  }

  .footer {
    &__button {
      flex-direction: row;
      justify-content: center;
    }

    .button-icon {
      inline-size: 21px;
      block-size: 21px;
      margin-block: 15px 15px;
      margin-inline-start: 19px;
    }

    .button-text {
      margin: 0;
      margin-inline-end: 21px;
    }
  }

  .dialog {
    .popup {
      padding: 30px;
    }
  }
}
