/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root.theme-dark {
  --background-color: #000;
  --background-gradient: repeating-linear-gradient(
      to right,
      #000,
      #000 2px,
      transparent 4px,
      transparent 6px
    ),
    repeating-linear-gradient(
      to bottom,
      #000,
      #000 2px,
      transparent 4px,
      transparent 6px
    ),
    linear-gradient(to bottom, #007f0c, #004306);
  --font-weight: 800;
  --accent-color: #00cc14;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #000;
    --background-gradient: repeating-linear-gradient(
        to right,
        #000,
        #000 2px,
        transparent 4px,
        transparent 6px
      ),
      repeating-linear-gradient(
        to bottom,
        #000,
        #000 2px,
        transparent 4px,
        transparent 6px
      ),
      linear-gradient(to bottom, #007f0c, #004306);
    --font-weight: 800;
    --accent-color: #00cc14;
  }
}

:root.theme-light {
  --background-color: #fff;
  --background-gradient: repeating-linear-gradient(
      to right,
      #d3d3d3,
      #d3d3d3 2px,
      transparent 4px,
      transparent 6px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3,
      #d3d3d3 2px,
      transparent 4px,
      transparent 6px
    ),
    linear-gradient(to bottom, #e7e7e7, #1a1a1a);
  --font-weight: 700;
  --accent-color: #000;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #fff;
    --background-gradient: repeating-linear-gradient(
        to right,
        #d3d3d3,
        #d3d3d3 2px,
        transparent 4px,
        transparent 6px
      ),
      repeating-linear-gradient(
        to bottom,
        #d3d3d3,
        #d3d3d3 2px,
        transparent 4px,
        transparent 6px
      ),
      linear-gradient(to bottom, #e7e7e7, #1a1a1a);
    --font-weight: 700;
    --accent-color: #000;
  }
}
