dialog.dialog
  .popup
    svg.popup__icon(viewBox="0 0 21 21")
      use(href="images/floppy.svg#floppy")
    p.popup__text Вставьте дискету, чтобы продолжить
    button.popup__button(type="button")
      span.popup__button-text ок
