footer.footer
  button.footer__button(type="button", arial-controls="dialog")
    svg.button-icon(viewBox="0 0 21 21")
      use(href="images/floppy.svg#floppy")
    span.button-text Сохранить на память
